{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Tic Tac Toe Sample {% endblock %}

{% block extrahead %} 
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="{% static "jquery.taconite.js" %}"></script>

<style type="text/css">

table { border: 2px solid black; }
td { border: 2px solid black; }
.cell { font-size: 2em; padding: 1em; }
.board_x { background: red; font-size: 3em;}
.board_o { background: blue; font-size: 3em; }
.spacer { background: white; padding: 1.5em;}

</style>

{% if board.active %}
<script type="text/javascript">
$(document).ready(function() { 
		$(document).on("click", "td", function() {
        $.get('{% url 'board_update' board.id %}?m=' + ($(this).parent().index()*3+$(this).index()));
    });
});
</script>
{% endif %}
{% endblock %}

{% block content %}

<h2>Game #{{ board.id }}</h2>
<p><a href="{% url 'tictactoe_index' %}">New Game</a></p>

{% include "tictactoe/messages_snippet.html" %}

<div id="board">
{{ board.as_t }} 
</div>

{% endblock %} 
